# cgat-core requirements (on BMRC: install using git branch e033b36)
apsw
gevent
numpy
pandas
paramiko
pep8
pytest
pytest-pep8
drmaa
pyyaml
ruffus
six
sqlalchemy
setuptools
Cython
pysam
cgatcore  # skip - already installed via GitHub
cgatcore.iotools  # skip - already installed via GitHub

# spatial/scRNA-seq pipeline requirements
tifffile
imagecodecs
scipy
matplotlib
networkx
scikit-image
scikit-learn
scikit-misc
zarr
pyjnius
blessed
ashlar
torch
'spatialdata[extra]'
'sopa[cellpose,baysor,wsi]'
'dask[complete]'
scvi-tools
celltypist
notebook
muspan
networkx
'plotly[express]'
notebook
'scanpy[leiden]'
louvain
harmonypy


### DRAFT requirements TBC ###

packaging
torch
tf-keras
harmonypy
scikit-misc
sccoda
squidpy
tiffslide_xarray
'cellpose[gui]'
'scikit-image[optional]'
patchify
